@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
#root {
  height: 100vh;
  background-color: #141933;
}
/* grid design */
.home {
  display: grid;
  grid-template-areas: "summary estimate modelling"
                       "summary watchlist watchlist";
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 40% 30% 30%;
  width: 100%;
  height: 100vh;
  padding: 2%;
}
/* individual grid/content containers */
.market-summary {
  grid-area: summary;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #1c2240;
  border-radius: 15px;
  position: relative;
  text-align: center;
  scrollbar-color: gray;
  scrollbar-width: thin;
}
.market-summary::-webkit-scrollbar {
  width: 8px;              
}
.market-summary::-webkit-scrollbar-track {
  background: none;       
}
.market-summary::-webkit-scrollbar-thumb {
  background-color: gray;    
  border-radius: 20px;       
}
/* priceSummary container */
.estimates {
  grid-area: estimate;
  background: #1c2240;
  border-radius: 20px;
  margin-left: 1rem;
}
/* modelling container */
.modelling {
  grid-area: modelling;
  background: #1c2240;
  border-radius: 20px;
  margin-left: 1rem;
}
/* watchlist container */
.watchlist {
  grid-area: watchlist;
  height: 94%;
  border-radius: 15px;
  width: 98%;
  background: #1c2240;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  overflow-y: scroll;
  scrollbar-color: gray;
  scrollbar-width: thin;
}
.watchlist::-webkit-scrollbar {
  width: 8px;              
}
.watchlist::-webkit-scrollbar-track {
  background: none;       
}
.watchlist::-webkit-scrollbar-thumb {
  background-color: gray;    
  border-radius: 20px;       
}
@media only screen and (max-width: 850px) {
  .hidePanelMobile{
    display: none;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .estimates, .modelling {
    margin-left: 0;
    width: 100%;
  }
  .watchlist {
    margin: 0;
    width: 100%;
  }
}
/* typography */
h1 {
  font-size: 1.5rem;
  background-image: linear-gradient(
    90deg,
    rgba(255, 159, 96, 1) 0%,
    rgba(252, 91, 96, 1) 50%,
    rgba(152, 59, 125, 1) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
}




