.container {
    display: flex;
    justify-content: center;
    width: 90%;
    
}
.row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #C6C6C6;
    width: 100%;
}
.coinType {
    display: flex;
    align-items: center;
    width: 30%;
    color: #fff;
}
.coinType img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.coinType h4 {
    font-size: 12px;
    /* width: 150px; */
}
.priceFlex {
    width: 30%;
    text-align: left;
}
.percentageFlex {
    width: 30%;
    text-align: left;
}
.buttonFlex {
    width: 10%;
    text-align: left;
}
.symbol {
    text-transform: uppercase;
    background: #1c2240;
    font-size: 12px;
    color: grey;
}
.data {
    display: flex;
    text-align: left;
    justify-content: space-around;
    width: 80%;
}
.price {
    width: 20%;
    font-size: 14px;
    text-align: left;
    color: white;
}
.percent {
    width: 20%;
}
.red {
    color: red;
}
.green {
    color: green;
}
.btn {
    border: none;
    width: 1.25rem;
    border-radius: 50%;
    color: black;
    background-image: linear-gradient(
    90deg,
    rgba(255, 159, 96, 1) 0%,
    rgba(252, 91, 96, 1) 50%,
    rgba(152, 59, 125, 1) 100%
  );
}

@media only screen and (max-width: 850px) {
    .symbol {
        display: none;
    }
    .name, .price, .percent {
        font-size: 0.75rem;
    }
    .coinType {
        margin-right: 2rem;
    }
    .coinType img {
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }
}