@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #141933;
}
#root {
  height: 100vh;
  /* width: 100vw; */
}
h1 {
  background-image: linear-gradient(
    90deg,
    rgba(255, 159, 96, 1) 0%,
    rgba(252, 91, 96, 1) 50%,
    rgba(152, 59, 125, 1) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h2 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.75rem;
}

.white {
  color: white;
}
.flex {
  display: flex;
  background: #1c2240;
}
.inline {
  display: inline;
}
.background {
  background: #1c2240;
}
.padding {
  padding-left: 2rem;
}
.red {
  color: red;
}
.green {
  color: green;
}

.btn {
  width: 20%;
  height: 1.25rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 159, 96, 1) 0%,
    rgba(252, 91, 96, 1) 50%,
    rgba(152, 59, 125, 1) 100%
  );
}
.global-tile {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1c2240;
  border-radius: 5px;
  margin: 5% auto;
  padding: 1rem 0 2rem 0;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}
.nav-btn {
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  padding: 0 8rem;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(255, 159, 96, 1) 0%,
    rgba(252, 91, 96, 1) 50%,
    rgba(152, 59, 125, 1) 100%
  );
}




