.sidebar {
    width: 8%;
    height: 90%;
    background: #1c2240;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 20px;
    background-image: linear-gradient(
        225deg,
        rgba(255, 159, 96, 1) 0%,
        rgba(252, 91, 96, 1) 50%,
        rgba(152, 59, 125, 1) 100%
      );
}
.sidebar-icon {
    width: 4vw;
    height: 4vw;
    border: none;
    margin-top: 2rem; 
    background-image: linear-gradient(
        225deg,
        rgba(255, 159, 96, 1) 0%,
        rgba(252, 91, 96, 1) 50%,
        rgba(152, 59, 125, 1) 100%
      );
    color: gray;
}